<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net46" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net46" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.102.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net46" />
  <package id="System.Data.SQLite.EF6" version="1.0.102.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net46" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net45" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
</packages>